<ion-view title='<img class="title-image" src="./img/letter-logo.png"/>' id="page9" style="background-color:#F1F0F0;">
    <ion-content padding="true" scroll="true" class="has-header">
      <div class="spacer" style="width: 300px; height: 5px;"></div>
      <td-cards>
          <td-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight(amt)">
          <!-- <td-card ng-repeat="user in users.active" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"> -->
                <!-- <div id="home-dogs-cards"> -->
                <div class="image">
                  <h3 style="text-align:center;">{{card.dogs[0].name}}</h3>
                  <!-- <div class="spacer" style="width: 300px; height: 5px;"></div> -->
                    <img src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xfa1/t31.0-8/10014449_10154105644040221_1827733139_o.jpg" class="">
                    <!-- <div class="spacer" style="width: 300px; height: 5px;"></div> -->
                    <div style="text-align:center; color: black">
                        <span><strong>Age:</strong> {{card.dogs[0].age}}</span> |
                        <span><strong>Gender:</strong> {{card.dogs[0].gender}}</span><br>
                        <span><strong>Size:</strong></span><br>
                        <p>{{card.dogs[0].size}}</p>
                        <span><strong>Breed:</strong></span><br>
                        <p>{{card.dogs[0].breed}}</p>
                    </div>
                  </div>
                <!-- </div> -->
              </td-card>
              <!-- <td-card id="end-card" drag="false">
                  <i class="icon ion-ios-refresh" ng-click="refreshCards()"></i>
              </td-card> -->
      </td-cards>
      <div class="spacer" style="width: 300px; height: 350px;"></div>

        <div class="center">
          <button id="x-button" class="button discard" ng-click="onClickTransitionOut(card)"><i class="icon-xbone"></i></button>
          <button id="check-button" class="button"><i class="icon-bonecheck"></i></button>
        </div>
        <!-- <div style="text-align:center;">
          <button ng-click="popover.show($event)" id="dog-info-button"><i class="ion-more"></i></button>
        </div>
        <script id="templates/popover.html" type="text/ng-template">
        <ion-popover-view>
          <ion-content>
            <div style="padding: 7px;">

              <span><strong>Size:</strong></span><br>
              <p>{{user.dogs[0].size}}</p>
              <span><strong>Breed:</strong></span><br>
              <p>{{user.dogs[0].breed}}</p>
            </div>
          </ion-content>
        </ion-popover-view>
      </script> -->

      <!-- <div class="spacer" style="width: 300px; height: 17px;"></div>
      <div class="center">
        <button id="x-button" class="button discard" ><i class="icon-xbone"></i></button>
        <button id="check-button" class="button"><i class="icon-bonecheck"></i></button>
      </div> -->


    </ion-content>
</ion-view>
