@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{

font-family: 'Open Sans', sans-serif;

}

.headerbg{

background: url('../img/mainDog.jpg');
background-size:cover;
height:100vh;
width:100vw;
color:#FFFFFF;
padding:20px;


}

.mainHeader h1{
  color:black;
  margin-left: 50%;
}

.logo{

width:40%;
margin-top:50%;
margin-left: 50%;

}

.badgeappstore{

width:40%;
margin-top:8%;
margin-left: 50%;

}

.badgeappstore:hover{

opacity:0.8;

}

.mainscreen{

width:60%;

}


.section1{

padding-top:50px;
padding-bottom:50px;
padding-left:20px;
padding-right:20px;
color:#161616;
background-color: #82D9B1;

}

.screen1{

width:70%;

}

.textsection1{

margin-top:30%;

}


.section2{

padding-top:50px;
padding-bottom:50px;
padding-left:20px;
padding-right:20px;
color:#161616;
/*background-color: #82D9B1;*/

}

.screen2{

width:70%;

}

.textsection2{

margin-top:30%;

}

.supportdiv{

background:url('../img/supportbg.jpg');
background-size:cover;
color:#FFFFFF;
padding-top:40px;
padding-bottom:200px;
padding-left:20px;
padding-right:20px;

}

.supportdiv button{

background:#FFFFFF;
color:#2ecc71;
height:60px;
padding:10px;
width:80%;
border-radius: 80px 80px 80px 80px;
-moz-border-radius: 80px 80px 80px 80px;
-webkit-border-radius: 80px 80px 80px 80px;
margin-top:5%;
border:none;

}

.supportdiv button:hover{

background:#2ecc71;
color:#FFFFFF;

}

.footer{

background:#181818;
padding:40px;


}

.logofooter{

width:70%;

}

/* Media query's adjustement */


@media screen and (max-width: 460px) {

.logo{

width:80%;



}

.badgeappstore{

width:80%;


}



}
